/*****     VARIABLES     *****/

$colorLightBlack: #383838;
$colorLightGrey: #545454;

/*****     MIXINS     *****/

$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin mq-tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mq-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mq-large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin absolute-center($top:auto, $left:auto) {
    position:absolute;
    top:$top;
    left:$left;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

/*****     REUSABLE     *****/

.input.invalid label{
      color: red;
    }

    .input.invalid input{
      border: 1px solid red;
      background-color: #ffc9aa;
    }
