/*****     VARIABLES     *****/
@import url('https://fonts.googleapis.com/css?family=Architects Daughter');

$colorLightBlack: #383838;
$colorLightGrey: #808080;
$borderLine: #cccccc;
$colorLightBlue: #3498db;
$colorRed: #ff0000;
$font: 'Architects Daughter';

/*****     MIXINS     *****/

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;

@mixin mq-mobile {
  @media (min-width: #{$mobile-width}){
    @content;
  }
}

@mixin mq-tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mq-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin absolute-center($top:auto, $left:auto) {
  position:absolute;
  top:$top;
  left:$left;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

/*****     REUSABLE     *****/

.input.invalid input{
  border: 1px solid red;
  background-color: #ffc9aa;
}

.formErrorsMessages{
  color: red
}
